* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  .navbar {
    background-color: #c5d0d0;

    .cont-logo {
      width: 100px;

      img {
        width: 100%;
      }
    }

    menu {
      li {
        a {
          color: #718383;
        }
      }

      .access {
        position: relative;

        .login-btn {
          background-color: white;
          padding: 10px 20px;
          border-radius: 10px;
          text-decoration: none;
        }

        .register {
          font-size: 12px;
          position: absolute;
          top: 50px;
        }
      }
    }
  }
}

#about {
  background-color: #c5d0d0;
  .cont-img {
    border: 1px solid red;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

#fotos {
  color: white;
  background-color: black;

  .work-header {
    .crea-foto {
      text-decoration: none;
      background-color: rgb(34, 139, 34);
      display: flex;
      align-items: center;
      padding: 0 10px;
      border-radius: 15px;
      color: white;

      &:hover {
        background-color: rgb(78, 163, 78);
      }
    }

    .categ-filter {
      display: flex;
      align-items: center;
    }
  }

  ul {
    list-style-type: none;

    li {
      img {
        transition: transform 0.3s ease, border-color 0.3s ease;

        &:hover {
          border: 2px solid #b0b9b9;
          transform: scale(1.05);
        }
      }
    }
  }
}
