* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.go-back {
  position: absolute;
  left: 60px;
  top: 50px;
  font-size: 28px;
  color: #718383;
  transition: transform 0.3s ease-in-out;
}

.salva:hover {
  background-color: #669c9c;
  color: white;
}

.go-back:hover {
  transform: scale(1.5);
}

header {
  .navbar {
    background-color: #c5d0d0;
    height: 15vh;

    .cont-logo {
      width: 100px;

      img {
        width: 100%;
      }
    }

    menu {
      li {
        a {
          color: #718383;

          &:hover {
            color: #013030;
          }
        }
      }

      .access {
        position: relative;

        .login-btn {
          background-color: white;
          padding: 10px 20px;
          border-radius: 10px;
          text-decoration: none;
        }

        .register {
          font-size: 12px;
          position: absolute;
          top: 50px;
        }
      }
    }
  }
}

#about {
  background-color: #c5d0d0;

  .col-sx {
    width: 80%;
    margin: 0 auto;

    h1 {
      margin-top: 50px;
      font-size: 56px;
    }

    p {
      margin-top: 20px;
    }

    a {
      color: #718383;
      text-decoration: none;

      &:hover {
        color: #013030;
      }
    }
  }

  .col-dx {
    width: 50%;
    margin: 0 auto;

    .cont-img {
      width: 100%;
      border-radius: 20px;

      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}

#fotos {
  color: white;
  background-color: black;

  .work-header {
    .crea-foto {
      text-decoration: none;
      background-color: rgb(34, 139, 34);
      display: flex;
      align-items: center;
      padding: 0 10px;
      border-radius: 15px;
      color: white;

      &:hover {
        background-color: rgb(78, 163, 78);
      }
    }

    .categ-filter {
      display: flex;
      align-items: center;
    }
  }

  ul {
    list-style-type: none;

    li {
      img {
        transition: transform 0.3s ease, border-color 0.3s ease;

        &:hover {
          border: 2px solid #b0b9b9;
          transform: scale(1.05);
        }
      }
    }
  }
}

#contacts {
  position: relative;
  height: 85vh;
  background-color: #c5d0d0;
  display: flex;
  justify-content: center;

  .contacts-form-cont {
    width: 50%;

    h1 {
      text-align: center;
    }

    form {
      width: 100%;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .cont-info {
        display: flex;
        flex-direction: column;

        input,
        textarea {
          background-color: transparent;
          border: 1px solid #718383;
          border-radius: 10px;
          padding: 10px;
        }
      }

      button {
        background-color: white;
        border: none;
        border-radius: 10px;
        padding: 5px 20px;
        align-self: start;

        &:hover {
          background-color: #246666;
        }
      }

      p {
        background-color: rgb(29, 139, 88);
        text-align: center;
        color: white;
        padding: 5px 30px;
        align-self: center;
        border-radius: 10px;
      }
    }
  }
}

#create {
  height: 85vh;
  background-color: #c5d0d0;
  display: flex;
  justify-content: center;
  position: relative;

  .create-form-cont {
    width: 50%;
  }
}

.form-fotos {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
  gap: 20px;

  .form-title {
    font-size: 18px;
    margin: 0;
  }

  .img-form {
    display: flex;
    flex-direction: column;
  }

  .categories {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        label {
          display: flex;
          gap: 10px;
        }
      }
    }
  }

  .text {
    input {
      width: 100%;
      background-color: transparent;
      border: 1px solid #718383;
      border-radius: 10px;
      padding: 10px;
    }
  }

  button {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    align-self: start;
  }
}

#single-foto {
  position: relative;
  background-color: #c5d0d0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 85vh;

  .foto-container {
    .card-image {
      width: 50%;
      margin: 0 auto;

      img {
        width: 100%;
        max-height: 50vh;
        object-fit: cover;
      }
    }

    .card-content {
      margin: 0 auto;
      text-align: center;
      max-height: 50vh;
      overflow-y: auto;

      h3 {
        margin-top: 10px;
        text-transform: uppercase;
        color: #424d4d;
      }

      p {
        margin: 0 auto;
      }

      .categories {
        margin: 0 auto;

        ul {
          list-style-type: none;
          padding: 0;

          li {
            display: inline;

            &:not(:last-child)::after {
              content: ', ';
            }
          }
        }
      }
    }
  }

  .edit-foto {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    .edit {
      background-color: orange;
      color: white;
      padding: 10px;
      font-size: 24px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: rgb(255, 199, 96);
      }
    }

    .delete {
      background-color: red;
      color: white;
      border: none;
      padding: 10px;
      font-size: 24px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: rgb(255, 80, 80);
      }
    }
  }
}

#edit-foto {
  position: relative;
  height: 85vh;
  background-color: #c5d0d0;
  display: flex;
  align-items: center;
  flex-direction: column;

  .edit-form-cont {
    width: 50%;
    position: relative;
  }

  .annulla {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(126, 126, 126);
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    align-self: start;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: rgb(90, 90, 90);
    }
  }
}
